footer{
    background-color: cadetblue;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

footer a{
    text-decoration: none ;
    color: black;
    border: solid ;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(210, 30, 198);

        
}

footer ul{
    display: flex;
    margin: 15px;
    align-content: space-between;
    list-style-type: none;
    text-transform: uppercase;
}

footer div{
    padding-bottom: 35px;
    font-size: 20px;
    
}

footer li{
    margin: 20px;
    padding: 30px;
    font-weight: bolder;
    font-size: 30px;
}

